/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: 'Lora', serif;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 0px 0px 40px 0px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    font-family: 'Lora', serif;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: gray;
    border: gray 1px solid;
    padding: 0px 0px 40px 0px;
    border-radius: 10px;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding:100px 100px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lora', serif;
    color:black;
  }
  .main a{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 35px;
  text-transform: uppercase;
  }
