<!doctype html>
<head>
<title>Eye Tracking Visualization</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/faviconV2Y.png" rel="icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
<nav class="navbar navbar-inverse">
	<div class="container-fluid"></div>
</nav>
</head>
<div class="sidenav">
	<a href="{{ url_for('index_vis1') }}">Scan-Path</a>
	<a href="{{ url_for('index_vis2') }}">Time Graph</a>
	<a href="{{ url_for('index_vis3') }}">Heat Map</a>
	<a href="{{ url_for('index_vis4') }}">Bar Chart</a>
</div>
<div class="main">
	<div class="container">
		<img class="center-fit" src="{{image_for_background}}" alt="{{image_for_background}}" style="width:100%"></img>

		<div class="centered">
			<h1><a href="{{ url_for('index_home') }}">Group 12BC Eye Tracking Visualization Tool</a></h1>
			<p class='paragraph'>
				Welcome to Group 12BC's visualization of metro map eye data visualization. We hope you will learn something new about your data. There are a few simple tools to help you get started. Click upload below to select and upload your data and images. From there you can go to either Visualization 1, 2, 3, or 4 to analyze and graph your data. Feel free to do what you like. Everytime you refresh this page, a new colored metromap is randomly selected to display in the background. 
			</p>
			<h2>Select file(s) to upload</h2>
			<h3>Please note that it can take up to a minute for visualizations to load and display. </h3>
                
			<div>Please select a csv file with accompanying picture(s) to go along with it. Hold ctrl (or cmd) to select multiple files. 
			</div>
			<p>
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
					<ul class=flashes>
					{% for message in messages %}
					  <div>{{ message }}</div>
					{% endfor %}
					</ul> 
				  {% endif %}
				{% endwith %}
			</p>
			<form method="post" action="/" enctype="multipart/form-data">
				<dl>
					<p>
						<input type="file" name="files[]" multiple="true" autocomplete="off" required>
					</p>
				</dl>
				<p>
					<input type="submit" value="Submit">
				</p>
			</form>
		</div>
	</div>
</div>
</html>