<!doctype html>
<title>Eye Tracking Visualization</title>
<h1>Group 12BC Eye Tracking Visualization Tool</h1>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src=/Upload.js/setup()></script>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>

	</div>
</nav>
<p>
	Welcome to Group 12BC's visualization of metro map eye data visualization. We hope you
	will learn something new about your data. There are a few simple tools to help you get started.
	Click upload to select and upload your data. From there some hokus pokus magic happens and you
	see the data appear in front of you in the form of some graphs. From there feel free to look at
	your data, change it, scale it, etc. It is your playground.
</p>
<h2>Select a file to upload</h2>
<div>Please select a csv file with an accompanying picture to go along with, but upload them seperately</div>
<p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
	</dl>
	<p>
		<input type="submit" value="Submit">
	</p>
	<div>This is a bar graph {{ bars_count }}</div>

	<body>
		{{ the_div|safe }}
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
		{{ the_script|safe }}

	</body>

	<div id='myplot' , class="myplotcss"> </div>
	<script>fetch('/p1')
			.then(function (response) { return response.json(); })
			.then(function (item) { Bokeh.embed.embed_item(item); })
	</script>
</form>