<!doctype html>
<title>Eye Tracking Visualization</title>
<h1>Group 12BC Eye Tracking Visualization Tool</h1>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src=/Upload.js/setup()></script>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>

	</div>
</nav>
<div class="sidenav">
	<a href="{{ url_for('index_home') }}">Home Page</a>
	<a href="{{ url_for('index_vis1') }}">Visualization 1</a>
	<a href="{{ url_for('index_vis2') }}">Visualization 2</a>
	<a href="{{ url_for('index_vis3') }}">Visualization 3</a>
	<a href="{{ url_for('index_vis4') }}">Visualization 4</a>
  </div>
<h3>Welcome to Visualization {{ vis_page }}</h3>

<div id='myplot' , class="myplotcss"> </div>
	<script>fetch('/p1')
			.then(function (response) { return response.json(); })
			.then(function (item) { Bokeh.embed.embed_item(item); })
	</script>
</form>
</html>