<!doctype html>
<meta charset="utf-8">
<head>
<title> Eye Tracking {{vis_page}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link href="/static/css/FaviconV2Y.ico" rel="icon" type="image/x-icon" />
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vispage.css') }}">
</head>
<div class="sidenav">
	<a href="{{ url_for('index_home') }}">Home</a>
	<a href="{{ url_for('index_vis1') }}">Scan-Path</a>
	<a href="{{ url_for('index_vis2') }}">Time Graph</a>
	<a href="{{ url_for('index_vis3') }}">Heat Map</a>
	<a href="{{ url_for('index_vis4') }}">Bar Chart</a>
	<a href="{{ url_for('index_vis5') }}">Linked Visualizations</a>
</div>
<!-- The {{_}} takes in different inputs (see main.py), and the vis_page/vis_text variable are passed to the {{vis_page}} and {{vis_text}} based on what page you are on. Limits repetivity of code. -->
<div class="main">
	<h1><a href="{{ url_for('index_home') }}">Group 12BC Eye Track</a><a href="{{ url_for('start_crying') }}">i</a><a href="{{ url_for('index_home') }}">ng Visualization Tool</a></h1>
	<h2>{{ vis_page }}</h2>
	<div>{{ vis_text }}</div>
	{{script|safe}}
</div>

</html>